@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  font-style: normal;
  src: 
  local("Nunito"),
  local("Nunito Bold"),
  local("Nunito-Bold"), 
  url("../fonts/Nunitobold.woff2") format("woff2"), 
  url("../fonts/Nunitoextrabold.woff") format("woff");
  
}

@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  font-style: normal;
  src: local('Nunito'),
  local('Nunito Regular'),
  local('Nunito-Regular'),
    url("../fonts/Nunitoregular.woff2") format("woff2"), 
    url("../fonts/Nunitoregular.woff") format("woff");
}